[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/

*.suo
*.user
*.sln
*.csproj
*.unityproj
*.userprefs
*.DS_store
*.tmp
*.pidb
*.booproj
*.pidb.meta

.DS_Store*

[Tt]humbs.db
sysinfo.txt
/.vs

# Ignore root .gitignore
!*.pdb
!*.pdb.meta